<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldsg.jwsystem.dao.TypeManageDao">

  <insert id="insert">
  	insert into t_type_manage(no, name) values(#{no}, #{name})
  </insert>
  
  <select id="getAll" resultType="com.ldsg.jwsystem.entity.TypeManage">
  	select * from t_type_manage
  </select>
  
  <delete id="deleteByIds" parameterType="java.lang.Integer">
  	delete from t_type_manage where id in
		<foreach collection="list" separator="," item="id" open="(" close=")">
    		#{id}
    	</foreach>
  </delete>
</mapper>